@use '../../../sass/mixins'
@use '../../../sass/variables'

.home_principal
  display: flex
  color: white

.home_menu
  width: 22vw
  height: 100vh
  overflow: hidden
  background-color: variables.$cor-1
